.rosterContainer {
  padding: 20px;
  width: 100%;
  background-color: #222;
}



.rosterTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-top: 20px;
}



.rosterDetailsText {
  font-size: 12px;
  color: #fea013;
  line-height: 18px;
  font-weight: 500px;
  
}

.rosterMyTeam {
  font-size: 18px;
  color: var(--text-heading);
  line-height: 18px;
  font-weight: 600px;
}

.rosterTopRight {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.rosterInput {
  border-radius: 8px;
  background-color: #222;
  height: 14px;
  padding: 10px;
  padding-left: 30px;

  border: 1px solid var(--borders-default, #494949);
  background-image: url("/src/assets/svgs/MagGlassIcon.svg");
  background-repeat: no-repeat;
  background-position: 5% 50%;
  width: 100%;
  text-align: left center;
  color: white;
  font-size: 14px;
}

.rosterButton {
  background-color: var(--primary-orange);
  border-radius: 8px;
  height: 100px;
  font-family: "Poppins";
  border-style: none;
  height: 35px;
  padding: 10px;
  text-align: center;
  width: 60%;
  color: var(--text-heading);
  font-size: 11px;
}

.rosterButtonReImport {
  background-color: var(--neutral-background-1);
  border-radius: 8px;
  height: 100px;
  font-family: "Poppins";
  border-style: none;
  height: 35px;
  padding: 10px;
  text-align: center;
  width: 60%;
  color: var(--text-normal);
  font-size: 11px;
  border: 1px solid var(--borders-default)
}

.rosterPlayerContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 71vh;
  background-color: var(--neutral-background-2);
  border-radius: 8px;
  margin-left: 10px;
  margin-top: 20px;
  padding: 20px;
}



.rosterNoRosterContainer {
  text-align: center;
}
.rosterNoRosterText {
  color: var(--text-normal);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.rosterImportTeamText {
  color: var(--primary-orange);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 10px;
  cursor: pointer;
}

.rosterPlayerStats {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 85%;
  color: var(--text-normal);
  top: 20%;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
 input:focus{
  outline: none;
}
.rosterEditTeamInput{
  border: none;
  font-family: 'Poppins';
  font-size: 18px;
  color: var(--text-heading);
  line-height: 18px;
  font-weight: 600px;
  width: 250px;
  background-color: var(--neutral-background-1);
  padding: 0px;
  margin: 0px;
 
  height: 25px;
}

.rosterDisplayIcon{
  opacity: 0;
}